version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: twoja-aplikacja-php
    ports:
      - "8000:8000"
    volumes:
      - .:/var/www
      - ./data:/var/www/data  # folder na bazę danych SQLite
    environment:
      .env.local  # Przekazuje cały plik .env do kontenera
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
